* {

    outline: none; border: none;

    font-family: Arial; text-decoration: none;
}


html, body {

    display: flex; align-items: center;

    justify-content: center; flex-direction: column;

    width: 100%; height: 100%;

    background: rgb(240 240 240);
}

a {

    width: 10vw; height: 3rem;

    font-size: 14pt; background-color: rgb(30 30 30);

    align-self: baseline; text-align: center;

    line-height: 3rem; color: white;

    border-radius: 4px; margin: 2rem 0 auto 2rem;
}


form {

    width: 50%; height: 50%;

    display: flex; align-items: center;

    justify-content: space-around;

    flex-direction: column; background: white;

    border-radius: 4px; margin-bottom: auto;

    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.2);
}

form div {

    width: 90%; height: 5rem;

    display: flex; align-items: center;

    justify-content: center;
}

form div label {

    margin-right: 2rem; font-size: 14pt;
}

form div input {

    width: 75%; height: 3rem;

    background: rgb(230 230 230);

    text-align: center; line-height: 3rem;

    font-size: 14pt; border-radius: 4px;
}

form input[type=submit] {

    width: 40%; height: 3rem;

    text-align: center; line-height: 3rem;

    font-size: 14pt; background: rgb(40 40 40);

    box-shadow: inset 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.4);

    color: white; border-radius: 4px;

}
